*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #111111;
    background-color: #ffffff;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.section-1-container{
    padding: 20px 100px;
}


.section-2-container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:130vh;
}

.section2-bg-img{
    background-image: url("./images/bg-image-1.jpg");
    max-width: 100%;
}

.section-2-items{
    padding-top: 230px;
    padding-left: 120px;
    text-align: left;
}

.section-2-text-1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    font-family: Roboto,sans-serif;
    color: #ffffff;
    line-height: 1.2;
}

.section-2-text-2{
    font-size: 5.5rem;
    text-transform: uppercase;
    font-family: "Archivo Black";
    font-weight: 700;
    color: #ffffff;
    line-height: 1.1;
   
}

.hr-line{
    height: 11px;
    border: 5px solid #ffffff;
    text-align: left;
    width: 46%;
    background-color: #ffffff;
    margin-top: 30px;
}

.services-gallery{
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}


.services-gallery-image-1{
    background-image: url("./images/paint-brush.svg");
    width: 80px;
    
}

.services-gallery-image-2{
    background-image: url("./images/cleaning-bucket.svg");
    width: 80px;
}

.services-gallery-image-3{
    background-image: url("./images/tap.svg");
    width: 80px;
}

.seperate-right{
    padding-left: 80px;
}

.services-text-container{
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    font-family: Roboto,sans-serif;
    text-align: left;
    padding-top: 20px;
}

.section-3-container{
    background-color: #f2f2f2;
}

.section-3-heading-1{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #999999;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    line-height: 1.2;
    padding-top: 10rem;
}

.section-3-heading-2{
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 1.1;
    font-family: Roboto,sans-serif;
    padding-top: 1.5rem;
}

.section-3-para{
    width: 800px;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    padding-top: 2rem;
}

.section-3-btn{
    color: #ffffff;
    background-color: #e71a23;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border:unset;
    cursor: pointer;
    padding: 20px 36px;
    margin: 30px auto 60px;
    border-radius: 3px;
}

.section-4-container{
   padding: 50px 150px;
}

.section-4-column-1, .section-4-column-2{
    width: 50%;
    margin-left: 30px;
} 

.section-4-column-1-img, .section-4-column-2-img{
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.column-1-image{
    background-image: url("./images/billionphotos-1.jpg");
    margin-bottom: 60px;
}

.column-2-image{
    background-image: url("./images/billionphotos-2.jpg");
    margin-top: 70px;
}

.section-4-para{
    padding: 0 50px;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.section-4-column-2-heading-1{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: Roboto,sans-serif;
    padding-bottom: 20px;
    padding-top: 40px;
}

.section-4-column-2-heading-2{
    font-weight: bold;
    font-size: 1.875rem;
    color: #e71a23;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
}

.section-5{
    background-image: url(./images/background.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.section-5-container{
    background-color: transparent;
    padding: 0 100px;
}

.section-5-column-1{
    width: 50%;
    padding-right: 50px;
}

.section-5-column-2{
    width: 50%;
}

.section-5-column-1-image-container{
    height: 120vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-5-column-1-img{
    background-image: url("./images/billionphotos-3.png");
}

.section-5-column-2-header{
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    line-height: 1.1;
    color: #104e92;
}

.section-5-column-2-line{
    height: 9px;
    border: 5px solid #e71a23;
    margin-top: 30px;
}

.section-5-column-2-para{
    font-size: 1.3rem;
    padding-top: 30px;
    letter-spacing: 0.8px;
    font-weight: 200;
}

.section-5-column-2-btn{
    color: #ffffff;
    background-color: #e71a23;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border:unset;
    cursor: pointer;
    padding: 20px 36px;
    border-radius: 3px;
    margin: 20px auto 0 0;
}

.section-6-container{
    padding: 40px 100px 60px 100px;
}

.section-6-heading{
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: 700;
    font-family: Roboto,sans-serif;
    padding: 20px 0 40px 0;
}

.painting-img, .electrical-img, .repair-img{
    height: 83px;
    width: 83px;
    padding: 10px;
    background-color: #e71a23;
    border-radius: 50%;
    object-fit: scale-down;
}

.painting-heading, .electrical-heading, .repair-heading{
    font-weight: 700;
    padding: 20px 0 0;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
}

.painting-para, .electrical-para, .repair-para{
    font-size: 1.125rem;
    font-style: italic;
    padding: 20px 0 0;
    padding-right: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}

.section-7{
    color: #ffffff;
    background-color: #104e92;
    padding: 80px 180px 30px 180px;
}

.section-7-column-1,.section-7-column-2{
    width: 50%;
}

.section-7-column-1{
    padding-left: 50px;
}

.section-7-column-1-text-1{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2;
}

.section-7-column-1-text-2{
    font-size: 6rem;
    line-height: 1;
    font-weight: 500;
    font-family: Roboto,sans-serif;
}

.section-7-column-2-gallery {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.column-2-gallery-1{
    background-image: url("./images/billionphotos-4.jpg");
    width: 250px;   
}

.column-2-gallery-2{
    background-image: url("./images/billionphotos-5.jpg");
    width: 250px; 
}

.column-2-gallery-3{
    background-image: url("./images/billionphotos-1.jpg");
    width: 250px; 
}

.column-2-gallery-4{
    background-image: url("./images/billionphotos-7.jpg");
    width: 250px; 
}

.section-8-heading{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: Roboto,sans-serif;
    padding-top: 100px;
    width: 60%;
    text-align: center;
}

.section-8-para{
    font-size: 1.875rem;
    font-weight: 300;
    padding-top: 30px;
    width: 50%;
    text-align: center;
}

.section-8-button-container{
    padding: 50px 0;
}

.section-8-btn-1, .section-8-btn-2{
    color: #ffffff;
    background-color: #e71a23;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 20px 36px;
    border-radius: 3px;
    border: unset;
    cursor: pointer;
}

.section-8-btn-2{
    padding: 20px 53px 20px 52px;
    color: #454545;
    background-color: transparent;
    border: 1px solid #454545;
    margin-left: 10px;
}


/* Responsiveness to all screen sizes */
@media (max-width: 1200px){
    .section-2-items{
        padding-top: 250px;
        padding-left: 80px;
    }

    .section-2-text-1 {
        font-size: 3rem;
        font-family: Roboto,sans-serif;

    }
    
    .section-2-text-2{
        font-size: 4.5rem;
        font-weight: 500;
        font-family: "Archivo Black";
    }

    .hr-line{
        width: 48%;
    }

}

@media (max-width: 1100px){
    .section-2-items{
        padding-left: 50px;
    }
    
    .seperate-right{
        padding-left: 60px;
    }

    .section-4-container{
        padding: 50px 60px;
     }

     .section-5-container{
        padding: 0 30px;
    }

    .section-5-column-1{
        width: 60%;
        padding-right: 25px;
    }

    .section-5-column-1-img{
        width: 100%;
    }

    
.section-5-column-2-header{
    font-size: 3rem;
}


.section-5-column-2-para{
    font-size: 1.1rem;
}

.section-6-container{
    padding: 30px 60px 30px 60px;
}

.section-7{
    padding: 40px 60px 20px 60px;
}

.section-7-column-1-text-1{
    font-size: 1.1rem;

}

.section-7-column-1-text-2{
    font-size: 4.5rem;
}

}

@media (max-width: 900px){

    .section-2-items{
        padding-left: 35px;
    }

    .section-2-text-1 {
        font-size: 2.3rem;
    }
    
    .section-2-text-2{
        font-size: 3.8rem;
        font-family: "Archivo Black";
    }

    .seperate-right{
        padding-left: 40px;
    }

    .services-gallery{
        height: 60px;
    }

    .services-gallery-image-1, .services-gallery-image-2, .services-gallery-image-3{
        width: 60px;
    }

    .services-text-container{
        font-size: 1rem;
    }

    .section-5-container{
        padding: 0 20px;
    }

    .section-5-column-1{
        padding-right: 20px;
    }
    
    .section-5-column-2-header{
    font-size: 2.5rem;
    }
    
    .section-5-column-2-para{
    font-size: 1rem;
    }
    
    .section-6-container{
    padding: 20px 40px 20px 40px;
   }
   
   .section-7{
    padding: 30px 40px 20px 40px;
   }
   
   .section-7-column-1-text-1{
    font-size: 1rem;
   }
   
   .section-7-column-1-text-2{
    font-size: 4rem;
   }

}

@media (max-width: 780px){
    .section-2-text-1 {
        font-size: 3rem;
    }

    .section-2-text-2{
        font-size: 5rem;
        font-weight: 700;
    }

    .hr-line{
        width: 65%;

    }


    .section-3-para{
        width: 500px;
    }

    .section-4-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-4-column-1, .section-4-column-2{
        width: 80%;
    } 

    .section-4-container{
        padding: 50px 0px;
     }

     .section-7{
        padding: 50px 40px 30px 30px;
       }

     .section-7-container{
         display: flex;
         flex-direction: column;
         justify-content:center ;
         align-items: center;
     }

     .section-7-column-1,.section-7-column-2{
        width: 100%;
    }

     .section-7-column-1-text-2{
         width: 100%;
         padding-bottom: 60px;
     }

     .section-7-column-2-gallery{
         height: 300px;
         
     }

     .column-2-gallery-1, .column-2-gallery-2, .column-2-gallery-3, .column-2-gallery-4{
        width: 400px;
    }

}

@media (max-width: 600px){

    .section-2-items{
        padding-top: 400px;
        padding-left: 50px;
    }

    .section-2-text-1 {
        font-size: 3rem;
    }

    .section-2-text-2{
        font-size: 5rem;
        font-weight: 700;
    }

    .hr-line{
        width: 70%;

    }

    .services-gallery-image-1, .services-gallery-image-2, .services-gallery-image-3{
        background-image: none;
    }

    .services-text-container{
        display: none;
    }

    .section-3-para{
        width: 500px;
    }

    .section-4-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-4-column-1, .section-4-column-2{
        width: 80%;
    } 

    .section-4-container{
        padding: 50px 30px;
     }

     .section-5-container {
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .section-5{
         height: 100%;
     }

     .section-5-column-1,.section-5-column-2{
        width: 100%;
    }

    .section-5-column-2{
        padding: 80px 30px 40px 30px;
    }

    .section-5-column-1-img{
        height: 130vh;
        margin-top: 20px;
    }

    .section-6-services-container{
        flex-direction: column;
    }

    .section-7{
        padding: 80px 50px 30px 30px;
    }

    .section-7-container, .section-7-column-2-1, .section-7-column-2-2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-7-column-1,.section-7-column-2{
        width: 100%;
    }

    .column-2-gallery-1, .column-2-gallery-2, .column-2-gallery-3, .column-2-gallery-4{
        width: 100%;
        height: 500px;
    }

    .section-7-column-1-text-2{
        width: 50%;
        padding-bottom: 50px;
    }

}

@media (max-width: 550px){

    
    .section-3-heading-1{
        font-size: 1.1rem;
    }
    
        .section-3-heading-2{
            font-size: 2.8rem;
        }
    
        .section-3-para{
            font-size: 1.18rem;
        }
    
        
        .section-4-column-1, .section-4-column-2{
            width: 80%;
        } 
    
        .section-4-container{
            padding: 50px 20px;
         }
    
        .column-2-gallery-1, .column-2-gallery-2, .column-2-gallery-3, .column-2-gallery-4{
            height: 400px;
        }
    
    }



@media (max-width: 500px){

    .section-2-items{
        padding-top: 450px;
        padding-left: 50px;
    }
    
    .section-2-text-1 {
        font-size: 2.8rem;
    }
    
    .hr-line{
        width: 90%;
    }

    .section-3-heading-1{
        font-size: 1rem;
    }
    
    .section-3-heading-2{
        font-size: 2.5rem;
        width: 80%;
        text-align: center;
    }
    
    .section-3-para{
        font-size: 1.1rem;
        width: 80%;
        text-align: center;
    }

    .section-5-column-1-img{
        background-size: 400px;
        margin-top: 0;
    }

    .section-5-column-2-header, .section-5-column-2-line,.section-5-column-2-para {
        width: 80%;
    }

    .column-2-gallery-1, .column-2-gallery-2, .column-2-gallery-3, .column-2-gallery-4{
        height: 350px;
    }
    

}

@media (max-width: 480px){

    .section-1-container{
        padding: 0px 50px;
    }
    .logo-image, .menu-image{
        padding-top: 20px;
    }

    .section-2{
        height: 100vh;
        width: 100%;
    }

    .section-2-container{
        background-size:120vh 135vw;
        position: relative;
        bottom: 20px;
    }

    .section-2-items{
        padding-top: 400px;
        padding-left: 60px;
    }

    .section-2-text-1 {
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .section-5-column-2{
        position: relative;
        bottom: 15px;

    }
    
    .section-2-text-2{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-family: "Archivo Black";
        font-weight: 500;
    }

    .hr-line{
        width: 70%;
    }
    .section-3-heading-1{
        padding-top: 7rem;
    }

    .section-4-column-1-img, .section-4-column-2-img{
        height: 250px;
    }

    .section-5-column-1-img{
        background-size: 400px;
        padding: auto;
        position: relative;
        bottom: 70px;
    }

    .section-5-column-2{
        padding-top:0;
    }

    .column-2-gallery-1, .column-2-gallery-2, .column-2-gallery-3, .column-2-gallery-4{
        height: 350px;
        width: 350px;
    }

    .section-8-heading{
        font-weight: 600;
        font-size: 2rem;

    }
    
    .section-8-para{
        font-size: 1.7rem;

    }
    
    .section-8-button-container{
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section-8-btn-1, .section-8-btn-2{
        font-weight: 600;
        padding: 20px 38px;
        margin-bottom: 30px;
        text-align: center;


    }
    
    .section-8-btn-2{
        padding: 20px 50px 20px 50px;
    }

}

@media (max-width: 455px){

    .section-2-container{
        background-size:90vh 135vw;
        position: relative;
        bottom: 50px;
    }

    .hr-line{
        width: 80%;
    }

}


@media (max-width: 435px){

    .section-2-container{
        background-size:90vh 135vw;
        position: relative;
        bottom: 60px;
    }

    .hr-line{
        width: 85%;
    }

}

@media (max-width: 425px){

    .section-2-container{
        background-size:90vh 135vw;
        position: relative;
        bottom: 70px;
    }

    .hr-line{
        width: 90%;
    }
    .section-3-heading-1{
        padding-top: 3.8rem;
    }

}


@media (max-width: 410px){
    .section-2{
        height: 100vh;
        width: 100%;
    }

    .section-2-container{
        background-size:90vh 135vw;
        position: relative;
        bottom: 80px;
    }

    .section-2-items{
        padding-top: 450px;
        padding-left: 50px;
    }

    .section-2-text-1 {
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 300;
        text-transform: uppercase;
    }
    
    .section-2-text-2{
        font-size: 2.8rem;
        text-transform: uppercase;
        font-family: "Archivo Black";
        font-weight: 500;
    }

    .hr-line{
        width: 85%;
    }
    
    .section-3-heading-1{
        padding-top: 3.5rem;
    }

    .section-5-column-1-img{
        background-size: 300px;
        position: relative;
        bottom: 50px;
    }

    .section-5-column-1-img{
        height: 100vh;
        margin-top: 0;
    }

       .section-7-column-1-text-1{
        font-size: 0.8rem;
       }
       
       .section-7-column-1-text-2{
        font-size: 3.5rem;
       }

       
    .section-7{
        padding: 80px 30px 30px 10px;
    }


    .section-7-column-1,.section-7-column-2{
        width: 100%;
    }

    .column-2-gallery-1, .column-2-gallery-2, .column-2-gallery-3, .column-2-gallery-4{
        width: 100%;
        height: 350px;
    }

    .section-7-column-1-text-2{
        width: 45%;
        padding-bottom: 50px;
    }
}


@media (max-width: 390px){
    .section-2-container{
        background-size:80vh 145vw;
        position: relative;
        bottom: 70px;
    }

    .section-2-items{
        padding-top: 460px;
        padding-left: 50px;
    }

}

@media (max-width: 375px){
    .section-2-container{
        background-size:58vh 230vw;
        position: relative;
        bottom: 95px;
    }

    .section-2-items{
        padding-top: 680px;
        padding-left: 50px;
    }

    .section-3-heading-1{
        padding-top: 7rem;
    }

    .section-5{
        height: 130vh;
    }

    .section-5-column-1-img{
        background-size: 330px;
        position: relative;
        bottom: 160px
    }

    .section-5-column-2{
        position: relative;
        bottom: 200px;

    }


}

@media (max-width: 370px){
    .section-2-container{
        background-size:80vh 165vw;
        position: relative;
        bottom: 50px;
    }

    .section-2-items{
        padding-top: 480px;
        padding-left: 50px;
    }

    .section-3-heading-1{
        padding-top: 7rem;
    }

    .section-5{
        height: 182vh;
    }

    .section-5-column-1-img{
        background-size: 330px;
        position: relative;
        bottom: 50px
    }

    .section-5-column-2{
        position: relative;
        bottom: 0px;

    }


}





